# Credit Card Churn Prediction

## 1/ Import Libraries

In [1]:
#CodeSection
import pandas as pd
import numpy as np

## 2/ Import Data

In [2]:
#CodeSection3
train = pd.read_csv("C:/Users/HP/CreditCard Churn/input/credit_card_churn.csv")

## 3/ Combine both Datasets (train, test)

In [3]:
#CodeSection4
#all_data = [train, test]

### Check Combined Data 
- Missing Value
- Data Types

In [4]:
train.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [5]:
train = train.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1' , 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], axis = 1)

In [6]:
train.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [7]:
#CodeSection6
# Check Data types for each variable
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(10), object(6)
memory usage: 1.6+ MB

## 4/ Numerical Processing

### 4.1/ Impute Numerical Variables

In [8]:
numerics = ['int64', 'float64']

In [9]:
#CodeSection7
# Identify all Numerical features
#numerical_features = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']
numerical_features = train.select_dtypes(include =numerics).columns.to_list()
print(numerical_features)

['CLIENTNUM', 'Customer_Age', 'Dependent_count', 'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio']

In [10]:
#CodeSection8
# Import SimpleImputer
from sklearn.impute import SimpleImputer

In [11]:
#CodeSection9

#Initiate SimpleImputer
num_impute = SimpleImputer(strategy = 'median')

# Fit SimpleImputer on Numerical Features

num_impute.fit(train[numerical_features])

SimpleImputer(strategy='median')

In [12]:
#CodeSection10
# Impute Train and Test
train[numerical_features] = num_impute.transform(train[numerical_features])

### 4.2/ Outlier Strategy

In [13]:
#CodeSection11

# Write a loop to detect and impute Outliers
for num_var in numerical_features:
    Q1 = train[num_var].quantile(0.25)
    Q3 = train[num_var].quantile(0.75)

    IQR = Q3-Q1

    Lower_Whisker = Q1 - 1.5*IQR
    Upper_Whisker = Q3 + 1.5*IQR
    train[num_var] = train[num_var].apply(lambda x : Upper_Whisker if x > Upper_Whisker else x)

### 4.3/ Transformation Strategy

In [14]:
#CodeSection12
# Import StandardScaler
from sklearn.preprocessing import StandardScaler

In [15]:
#CodeSection13

#Initiate StandardScaler
num_scale = StandardScaler()

# Fit StandardScaler
num_scale.fit(train[numerical_features])

StandardScaler()

In [16]:
#CodeSection14
# Scale Train and Test

train[numerical_features] = num_scale.transform(train[numerical_features])

## 5/ Impute Categorical Variables

### Impute all Categorical Variables at once

In [17]:
categories = ['object']

In [18]:
#CodeSection15
# Identify all Categorical Features
categorical_features = train.select_dtypes(include =categories).columns.to_list()
print(categorical_features)

['Attrition_Flag', 'Gender', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category']

In [19]:
#CodeSection16
# Import SimpleImputer
from sklearn.impute import SimpleImputer

In [20]:
#CodeSection17

#Initiate SimpleImputer
cat_impute = SimpleImputer(strategy = 'most_frequent')

# Fit SimpleImputer
cat_impute.fit(train[categorical_features])

SimpleImputer(strategy='most_frequent')

In [21]:
#CodeSection18
# Impute Train and Test
#for dataset in all_data:
train[categorical_features] = cat_impute.transform(train[categorical_features])

## 6/ Now Re Check all Features

In [22]:
#CodeSection19
# Combine both to check Missing Value
#pd.concat([train, test], axis = 0).isnull().sum()

## 8/ Prepare Data for Model Model

In [23]:
#CodeSection20
# Check First 5 Rows of Test Data
#test.head()

In [24]:
#CodeSection21
# Get X and y Variables for your Dataset
X = train.drop(['Attrition_Flag','CLIENTNUM'], axis =  1)
y = train['Attrition_Flag']

# Split Data into Train and Test

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

### Create Dummy Variables for  Categorical Variables

In [27]:
#CodeSection22
# Get Dummy Variables
#X = pd.get_dummies(X, drop_first = True)  # Keep only n - 1 Variables - Use "drop_first = True"

In [28]:
X_train = pd.get_dummies(X_train)

In [29]:
X_test = pd.get_dummies(X_test)

## 9/ Build Model

In [30]:
#CodeSection23
#Import Logistic Regression Library
from sklearn.linear_model import LogisticRegression

#Initialize LR
clf = LogisticRegression(max_iter = 1000)

In [31]:
#CodeSection24
# Fit Model
model = clf.fit(X_train, y_train)

### Check Accuracy of Model on Train Data

In [32]:
#CodeSection25
# Predict on Train Data
y_test_pred = model.predict(X_test)

In [33]:
y_test_pred.shape

(2532,)

### We can use a Accuracy Function from Metrics
- Check Train Accuracy

In [34]:
#CodeSection26
# Import metrics library
from sklearn.metrics import accuracy_score

In [35]:
#CodeSection27
# get Actual "y" variables (use "y_true" as variable)
y_true = y_test

In [36]:
#CodeSection28
# Print Train Accuracy
print(f" Train Accuracy : {accuracy_score(y_true, y_test_pred):0.1%}")

 Train Accuracy : 90.4%

In [37]:
y_train_pred = model.predict(X_train)

In [38]:
print(f" Test Accuracy : {accuracy_score(y_train, y_train_pred):0.1%}")

 Test Accuracy : 91.4%